@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2 {
  color: var(--white);
}

p {
  line-height: 1.8;
  color: var(--light-grey);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

ul,
li,
button {
  font-family: inherit;
  font-size: 1rem;
}

button {
  user-select: none;
  cursor: pointer;
}

.btn {
  background-color: var(--dark-blue);
  width: 3rem;
  height: 3rem;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 50%;
  padding-top: 0.3rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--light-grey);
}

.btn:focus {
  background-color: var(--orange);
}

.btn-submit {
  background-color: var(--orange);
  padding: 0.625rem 2rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: var(--white);
  margin-top: 2rem;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.btn-submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

.container,
.thank-you {
  background-image: linear-gradient(
    to bottom,
    hsl(212, 18%, 14%),
    hsl(220, 16%, 11%)
  );
  max-width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 0.625rem;
}

.container img {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  margin-bottom: 2rem;
}

.container h1,
.thank-you h2 {
  margin-bottom: 1rem;
}

.container p,
.thank-you p {
  margin-bottom: 1rem;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container ul li {
  margin: 0.5rem;
}

.thank-you {
  text-align: center;
}

.thank-you h2 {
  margin-top: 2rem;
}

.thank-you img {
  display: block;
  margin: 0 auto 1rem;
}

p.gray {
  display: inline-block;
  background-color: var(--dark-blue);
  color: var(--orange);
  padding: 0.3rem 1rem 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 749px) {
  .container ul li {
    margin: 0;
  }
  .container,
  .thank-you {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
